# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [11]:
def lesser_of_two_evens(num1,num2):
    if num1==num2:
        return('They are equal')
    elif num1%2==0 and num2%2==0:
        if num1>num2:
            return(num2)
        else:
            return(num1)
    elif num1%2>0 and num2%2>0:
        if num1>num2:
            return(num1)
        else:
            return(num2)
    else:
        return('One odd, one even')

In [19]:
# Check
lesser_of_two_evens(1,2)

'One odd, one even'

In [12]:
# Check
lesser_of_two_evens(7,5)

7

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [80]:
def animal_crackers(Word1,Word2):
    if Word1[0].upper()==Word2[0].upper():
        return 'True'
    else:
        return 'False'

In [79]:
's'.upper()

'S'

In [81]:
# Check
animal_crackers('Cevelheaded','clama')

'True'

In [46]:
# Check
animal_crackers('Krazy','Kangaroo')

'True'

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [71]:
def makes_twenty(Num1,Num2):
    if Num1+Num2==20 or Num1==20 or Num2==20:
        return True
    else:
        return False

In [75]:
# Check
makes_twenty(20,20)

True

In [76]:
# Check
makes_twenty(17,6)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [1]:
def old_macdonald(arg1):
    

    def cap_string(x,y):
        if(x in (0,3)):
            return y.upper()
        else:
            return y
        
    return ''.join([cap_string(i,j) for i,j in enumerate(arg1)])

In [3]:
# Check
old_macdonald('tejas')

'TejAs'

In [2]:
def cap_string(x,y):
    if(x in (0,3)):
        return y.upper()
    else:
        return y

In [169]:
''.join([cap_string(i,j) for i,j in enumerate('chetan')])

'CheTan'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [71]:
def master_yoda(arg1):
    return ' '.join(arg1.split()[::-1])

In [80]:
z = 'I am home'

' '.join(z.split()[::-1])

'home am I'

In [72]:
# Check
master_yoda('Tejas is good')

'good is Tejas'

In [74]:
# Check
master_yoda('We are ready for you')

'yos for ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [130]:
def almost_there(num1):
    if abs(num1-100)<=10 or abs(num1-200)<=10:
        print(True)
    else:
        print(False)

In [129]:
# Check
almost_there(30)

False

In [124]:
# Check
almost_there(150)

False

In [134]:
# Check
almost_there(190)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [211]:
def has_33(lst1):
    x=lst1[0]
    for i in lst1[1:]:
        if(x==i and x==3):
            return True
        else:
            x=i
    return False

In [223]:
def has_33_c(lst1):
    lst1 = list(zip(lst1,lst1[1:]))
    for i,j in lst1:
        if(i==j and i==3):
            return True
    return False

In [222]:
lst = [1,2,3,4]
lst = list(zip(lst,lst[1:]))
lst

[(1, 2), (2, 3), (3, 4)]

In [224]:
# Check
has_33_c([5, 3, 4,5])

False

In [225]:
# Check
has_33_c([1, 3, 1, 3, 3, 5,2,3])

True

In [230]:
# Check
has_33_c([3, 5,3,3,4, 8])

True

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [6]:
x='abc'

In [66]:
def paper_doll(f):
    z=[i*3 for i in f]
    j=''.join(z)
    return j

In [59]:
j

'abc'

In [52]:
''.join(x)

'abc'

In [19]:
y=[i*3 for i in x]
''.join(y)

'aaabbbccc'

In [18]:
''.join(y)

'aaabbbccc'

In [67]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [63]:
# Check
paper_doll('chet')

'ccchhheeettt'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [9]:
def blackjack(num1,num2,num3):
    
    sum = num1+num2+num3
    
    if (num1==11 or num2==11 or num3==11):
        sum = sum -10
    
    if sum <= 21:
        print(sum)
    else:
        print('BUST')

In [10]:
sum([1,2,3])

6

In [13]:
# Check
blackjack(11,6,7)

14

In [15]:
# Check
blackjack(9,9,9)

BUST

In [14]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [126]:
def summer_69(Lst):
    marker=False
    sum=0
    for i in Lst:
        if i==6:
            marker=True
            
        if(marker==False):
            sum=sum+i
            
        if i==9:
            marker=False
       
    return sum

In [127]:
# Check
summer_69([1, 3, 5])

9

In [128]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [130]:
# Check
summer_69([2, 1, 6,8, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [31]:
def spy_game(lst1):
    for i,j in enumerate(lst1):
        if(i<=len(lst1)-3):
            #print(lst1[i],lst1[i+1],lst1[i+2])
            if ( (lst1[i]==0) and (lst1[i+1]==0) and (lst1[i+2]==7)):
                return True
        else:
            return False

In [ ]:
 for i,j in enumerate(lst1):
        if(i<=len(lst1)-3):
            print(lst1[i],lst1[i+1],lst1[i+2])

In [2]:
lst1=[0,0,7,9]
x=list(enumerate(lst1))
x

[(0, 0), (1, 0), (2, 7), (3, 9)]

In [151]:
lst1[2]

7

In [32]:
# Check
spy_game([1,2,4,0,1,7,5])

False

In [22]:
str([1,2,3])

'[1, 2, 3]'

In [38]:
# Check
spy_game([1,2,0,9,0,7])

False

In [34]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
# Check
count_primes(100)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
print_big('a')

## Great Job!